@page
@model JoaoTest.Pages_Premiums.CriarModel

@{
    ViewData["Title"] = "Criar";
}

<h1>Criar</h1>

<h4>Premium</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Premium.Titulo" class="control-label"></label>
                <input asp-for="Premium.Titulo" class="form-control" />
                <span asp-validation-for="Premium.Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Premium.Inicio" class="control-label"></label>
                <input asp-for="Premium.Inicio" class="form-control" />
                <span asp-validation-for="Premium.Inicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Premium.Final" class="control-label"></label>
                <input asp-for="Premium.Final" class="form-control" />
                <span asp-validation-for="Premium.Final" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Premium.EstudanteId" class="control-label"></label>
                <select asp-for="Premium.EstudanteId" class ="form-control" asp-items="ViewBag.EstudanteId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

